body{
    background-image: url(https://www.ausfilm.com.au/wp-content/uploads/2019/03/matrix_code.jpg);
    color: white;
}
header{
    text-align: center;
    color: white;
}
.media{
    border: 4px gray solid;
    margin-top: 38rem;
    background-color: rgba(255,255,255, 85%);
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
img{
    width: 100%;
    float: left;
    background-color: rgba(255,255,255, 85%);
}
#firstThumb{
    background-color: rgba(255,255,255, 85%);
    border: 4px solid gray;
}
#objectImage{
    width: 10%;
}
#objectText{
    padding: 0.7rem;
    text-align: justify;
}